name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Maximize disk space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 4096
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-codeql: true

      - name: Move Docker root to /mnt/docker
        run: |
          echo ">>> Create new docker root"
          sudo mkdir -p /mnt/docker

          echo ">>> Write daemon.json"
          echo '{"data-root": "/mnt/docker"}' | sudo tee /etc/docker/daemon.json

          echo ">>> Stop docker"
          sudo service docker stop

          echo ">>> Move existing docker data"
          sudo rsync -aP /var/lib/docker/ /mnt/docker/

          echo ">>> Start docker"
          sudo service docker start

          echo ">>> Verify docker root"
          docker info | grep "Docker Root Dir"

      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.REGISTERY_USERNAME }}
          password: ${{ secrets.REGISTERY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: false
          context: .
          tags: registry.cn-hangzhou.aliyuncs.com/ls-2018/test:tmp
