name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize disk space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 4096
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - name: Use /mnt for Docker storage
        run: |
          mkdir /mnt/docker
          echo '{"data-root": "/mnt/docker"}' > /etc/docker/daemon.json
          systemctl restart docker
          docker ps -a 
          docker images
      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.REGISTERY_USERNAME }}
          password: ${{ secrets.REGISTERY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: false
          context: .
          tags: registry.cn-hangzhou.aliyuncs.com/ls-2018/test:tmp
