name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTERY_USERNAME }}
          password: ${{ secrets.REGISTERY_PASSWORD }}
      - name: Build the Docker image
        run: |
          docker buildx create --use --platform=linux/amd64,linux/arm64 --name multi-platform-builder
          docker buildx ls
          docker buildx build -f ./Dockerfile --platform linux/arm64,linux/amd64 \
            --cache-to=type=inline --pull -t registry.cn-hangzhou.aliyuncs.com/ls-2018/test:tmp --push .

